<%- include("header") -%>

<h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus at ab reprehenderit maxime, alias pariatur molestiae, beatae molestias tempore totam architecto enim hic vitae obcaecati. Perferendis facere fugit sed eveniet.
</h1>

<%- include("footer") -%>
